
@media only screen and (max-width:1920px){
  body{
  background-color: #F6F6F6;
}
}
@media only screen and (max-width:1920px){
.two {
  margin-left:183px;
}
}

@media only  screen and (max-width:1920px){
.date {
  font-size: 17px;
  color:#282A3A;
  
}
}
@media only screen and (max-width:1920px){
.two > h1{
  font-family: sans-serif;
  font-size: 2.1rem;
}
}
@media only screen and (max-width:1920px){
.container{
  margin-left:14%;
  margin-right: 15%;
}
}
@media only screen and (max-width:1920px){
.whiteboard {
  background-color: #fff; /* White background */

 align-items: center;
  border-radius: 18px 18px 0 0; /* Rounded corners on top left and top right */
  padding: 18px;
}

}
@media only screen and (max-width:1920px){
.flex-container {
  display: flex;
  gap: 8px; /* Optional: Add space between elements */
  
}
}
@media only screen and (max-width:1920px){
.h2 {
  font-family: sans-serif;
  font-size:1.6rem ;
  padding-top: 6px;
  
}
}
@media only screen and (max-width:1920px){
.blue-icon {
  color: blue;
  font-size: 28px; /* Adjust icon size as needed */
  padding-top: 6px;
padding-bottom: 18px;
}
}
@media only screen and (max-width:1920px){
.web{
  display: flex;
  
}

}
@media only screen and (max-width:1920px){
.image-container{
display: block;
padding-top: 12px;
padding-left: 3px;
}
}
@media only screen and (max-width:1920px){
.img-cnn {
  
  padding-top: 6px;
  border-radius: none;
}
}
@media only screen and (max-width:1920px){
.bottom-image {
  margin-top: 0px;
}
}
@media only screen and (max-width:1920px){
.png{
display: flex;
background-color: transparent;
}
}
@media only screen and (max-width:1920px){
.enemy-container{
  font-family: sans-serif;
 padding-top:12px;
  font-size: 1.3rem;
  font-weight: 500;
  word-spacing: 1px;
  line-height:1.2;
}
}
@media only screen and (max-width:1920px){
.img-ap{
  padding-top: 4px;
}
}


@media only screen and (max-width:1920px){ 
.information{
  padding-top: 7px;
  font-size: 13px;
}
}

@media only screen and (max-width:1920px){
 .biden-container{
  padding-top: 5px;
 }

}

@media only screen and (max-width:1920px){
 
 .iche-container {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
   /* Vertically align items if needed */
  
}
}
@media only screen and (max-width:1920px){
.left-content {
  flex: 0; /* Allow left content to occupy remaining space */
  margin-right: 0px; /* Adjust spacing as desired */
}
}
@media only screen and (max-width:1920px){
.pura{
  display: flex; 
}
}
@media only screen and (max-width:1920px){
.picture-container{
display: block;

padding-top: 12px;
}
 
}
@media only screen and (max-width:1920px){
.img-daily {
  
  padding-top: 6px;
  border-radius: none;
}
}
@media only screen and (max-width:1920px){
.bottom-image {
  margin-top: 0px;
}
}
@media only screen and (max-width:1920px){
.enemy-container{
  font-family: sans-serif;
 padding-top:12px;
  font-size: 1.3rem;
  font-weight: 500;
  word-spacing: 1px;
  line-height:1.2;
}
}
@media only screen and (max-width:1920px){
 .cash-container{
  padding-top: .3rem;
 }
} 
@media only screen  and (max-width:1920px){
 .iche-container {
  display: flex;
  justify-content: flex-end;
  /* Align content to the right */
  align-items: center; /* Vertically align items if needed */
  
}
}
@media only screen and (max-width:1920px){
.left-content {
  flex: 1; /* Allow left content to occupy remaining space */
  margin-right: 0px; /* Adjust spacing as desired */
}
}








