body{
  background-color: #F6F6F6;
  width: 1920px;
  height:1080px;

}




.date {
  padding-top: 0.6rem;
  font-size: 17px;
  color:#282A3A;
  
}
.h1{
  font-family: sans-serif;
  font-size: 2.1rem;


}

.two{
  font-family: sans-serif ;
  padding-left: 10px;
  padding-top: 20px;
}

.container{
  padding-left: 8px;
  padding-top: 2rem;
}




.whiteboard {
  background-color: #fff; /* White background */
width:100%;
height:100%;
  border-radius: 18px 18px 0 0; /* Rounded corners on top left and top right */
  padding: 18px;
  
}


.flex-container {
  display: flex;
  
  gap: 8px; /* Optional: Add space between elements */

  border-bottom: 2.8px solid #DDDDDD;
}

.h2 {
  font-family: sans-serif;
  font-size:1.6rem ;
  padding-top: .4rem;
  
}


.blue-icon {
  color: blue;
  font-size: 28px; /* Adjust icon size as needed */
  padding-top: .4rem;
padding-bottom: 1.4rem;
}

.web{
  display: flex;
  
}





.image-container{
display: block;
padding-top: .9rem;
}
 





.img-cnn {
  
  padding-top: .4rem;
  border-radius: none;
}


.bottom-image {
  margin-top: 0px;
}




.png{
display: flex;
background-color: transparent;
}

.enemy-container{
  font-family: sans-serif;
 padding-top:12px;
  font-size: 1.3rem;
  font-weight: 500;
  word-spacing: 1px;
  line-height:1.2;
}



.img-ap{
  padding-top: .2rem;
}

.information{
  padding-top: .5rem;
  font-size: 13px;
}

 .biden-container{
  padding-top: .3rem;
 }













 

 .iche-container {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
   /* Vertically align items if needed */
  
}

.left-content {
  flex: 0; /* Allow left content to occupy remaining space */
  margin-right: 0px; /* Adjust spacing as desired */
}



























































































































































.pura{
  display: flex;
  
  
}





.picture-container{
display: block;
padding-top: .9rem;
}
 





.img-cnn {
  
  padding-top: .4rem;
  border-radius: none;
}


.bottom-image {
  margin-top: 0px;
}




.png{
display: flex;
background-color: transparent;
}

.disso-container{
  font-family: sans-serif;
 padding-top:12px;
  font-size: 1.3rem;
  font-weight: 500;
  word-spacing: 1px;
  line-height:1.2;
}



.img-ap{
  padding-top: .2rem;
}

.information{
  padding-top: .5rem;
  font-size: 13px;
}

 .biden-container{
  padding-top: .3rem;
 }













 

 .iche-container {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center; /* Vertically align items if needed */
  
}

.left-content {
  flex: 1; /* Allow left content to occupy remaining space */
  margin-right: 0px; /* Adjust spacing as desired */
}


