body{
  background-color: #F6F6F6;
  width: 100%;
}




.date {
  
  font-size: 17px;
  color:#282A3A;
  
}
.h1{
  
  font-size: 2.1rem;


}

.two{
  font-family:Arial, Helvetica, sans-serif ;
  padding-left: 10px;
  padding-top: 20px;
}

.container{
  padding-left: 8px;
}




.whiteboard {
  background-color: #fff; /* White background */
  
  border-radius: 18px 18px 0 0; /* Rounded corners on top left and top right */
  padding: 20px;
  
}


.heading-wrapper {
  display: flex;
  padding-top: 4px;
  margin-bottom: 0px;
  border-bottom: 2.8px solid #DDDDDD;
}





.heading {
  
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 1.7rem;
  color:#3559E0;
  padding-bottom: 0px;
}

.heading-wrapper
.png{
margin-top: -10px;
background-color: transparent;
padding-top: -30px;
  
}

