body{
  background-color: #F6F6F6;
  width: 100%;
}




.date {
  
  font-size: 17px;
  color:#282A3A;
  
}
.h1{
  
  font-size: 2.1rem;


}

.two{
  font-family:Arial, Helvetica, sans-serif ;
  padding-left: 10px;
  padding-top: 20px;
}

.container{
  padding-left: 8px;
}




.whiteboard {
  background-color: #fff; /* White background */
  
  border-radius: 12px 12px 0 0; /* Rounded corners on top left and top right */
  padding: 20px; /* Padding for content */
  
}


.heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.heading-wrapper i {
  margin-right: 0px;
  font-size: 1.2rem;
}

.heading {
  font-size: 1.5rem;
}

hr {
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}

.fa-angle-right{
width:10%;
display: block;
}
